:root {
    --white:#ffffff;
    --gradient1:linear-gradient(45deg, #87adfe, #ff77cd);
    --gradient2:linear-gradient(to right,  #d8bfff, #d9f7ff);
    --gradient3:linear-gradient(to right, #df90ff, #ff5599);
    --gradient4:linear-gradient(to bottom right,  #d895ff, #d9f7ff);
    --gradient5:linear-gradient(to top left, #d895ff, #d9f7ff, #d8c2fa);
    --gradient6:linear-gradient(to top right, #699bf7, #d9f7ff, #dca0ff);
    --gradient7:linear-gradient(to right, #70c6ff, #ff81ee, #d8c2fa);
    --shadow1:rgba(92, 28, 68, 0.15);
    --darkblue:#232d60;
    --darkgreyblue:#6a7199;
    --greyblack:#333;
    --black:black;
    --red:red;
    --shadow2:rgb(53, 53, 53);
    --lightgreyblue:#ece1ff;
    --mediumgreyblue:#b9c0e4;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    height: 70px;
    width: 1350px;
    display: flex;
    align-items: center;
    background-image:var(--gradient1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
}
.dropdown {
    position:absolute;
    display: inline-block;
 }
 
.navbar a {
    font-size: 16px;
    text-decoration: none;
    color: var(--greyblack);
    display: inline-block;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropbtn {
    border: none;
    background:none;
    display: inline-block;
    text-decoration:none;
}

.dropdown-content {
    display: none;
    position:absolute;
    min-width: 160px;
    padding: 2px;
    text-decoration: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: table;
    background-color: var(--lightgreyblue);
   }
 
.dropdown-content a:hover {
       background-color: var(--white);
}


.cart {
    width: 55px;
    cursor: pointer;
    margin-right: 60px;
}

.navbar a:hover {
    background-color: var(--white);
    border-radius: 10px;
}

.searchbar {
    height: 20px;
    width: 400px;
    background-color: var(--white);
    padding: 10px;
    border: hidden;
    border-radius: 2px;
    font-size: 17px;
    display: inline-block;
    margin: auto;
}

.searchbar :active{
    border:2px solid var(--black);
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:var(--darkblue);
}

.content p {
    font-size: 20px;
    color:var(--darkgreyblue);
}


.content {
    margin-left: 10%;
    margin-top: 10%;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    cursor: default;
}

.btn {
    display: inline-block;
    background:var(--gradient1);
    border-radius: 6px solid var(--gradient1);
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;
}

.arrow-icons img {
    width: 40px;
    margin-right: 25px;
}

.feature-img {
    height:90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}

.social-links {
    transform:rotate(-90deg);
    position:absolute;
    left:-80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color:var(--darkgreyblue);
    padding-right: 20px;
    font-size: 14px;
}

.ourcategoury {
    height: 800px;
    width: 1375px;
    padding: 4em;
    background-image:var(--gradient5);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
}

.heading1 {
    text-align: center;
    color: var(--black);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    width: 250px;
    margin: auto;
}

.page1 {
    height: 900px;
    width: 1200px;
    margin: auto;
}

.product1, .product2, .product3 {
    width: 300px;
    height: 300px;
    border: hidden;
    border-radius: 10px;
    background-color: var(--white);
    display: inline-block;
    margin-top: 50px;
    margin-left: 70px;
    text-align: center;
}

.product4, .product5, .product6 {
    width: 300px;
    height: 300px;
    border:hidden;
    border-radius: 10px;
    text-align: center;
    background-color: var(--white);
    display: inline-block;
    margin-top: 90px;
    margin-left: 70px;
}

.product1 {
    background-color: var(--white);
}

.product3 {
    background-position: bottom;
}

.page1 div:hover{
    box-shadow: 10px 15px 10px var(--mediumgreyblue);
    opacity: 0.8;
}

.page1 a {
    text-decoration: none;
    color: var(--black);
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}
.pr1 {border-radius: 10px;}

.special {
    width: 100%;
    height: 1500px;
    border:hidden;
    background-image: var(--gradient6);
}

.heading2 {
    text-align: center;
    color:var(--black);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    width: 250px;
    margin: auto;
}

.page2 {
    height: 1450px;
    width: 1200px;
    margin: auto;
    background-image: var(--gradient4);
}

.page2 a {
    text-decoration: none;
    color: var(--black);
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

.page2 > div:hover{
    box-shadow: 10px 15px 10px var(--mediumgreyblue);
    opacity: 0.8;
}

.offer1 {
    height:70px;
    width: 1030px;
    border-top: 3px solid var(--black);
    border-left: 8px solid var(--black);
    background-image: var(--gradient7);
    margin-left: 70px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 50px;
    text-justify: var(--darkblue);  
}

.sp1 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.sps1 {
    background-color: var(--white);
    border-radius:10px;
    margin-left: 70px;
    width:1040px;
    height: 450px;
    text-align: center;

}

.special1, .special2, .special3 {
    width: 300px;
    height: 300px;
    border:hidden;
    border-radius: 10px;
    text-align: center;
    background-color: var(--white);
    display: inline-block;
    margin-top: 30px;
    margin-left: 70px;
}

.special4, .special5, .special6 {
    width: 300px;
    height: 300px;
    border:hidden;
    border-radius: 10px;
    text-align: center;
    background-color: var(--white);
    display: inline-block;
    margin-top: 90px;
    margin-left: 70px;
}